@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

@media (min-width: 800px) {
  #nav-menu,
  #nav-search-sm {
    display: none;
  }

  #nav-categories,
  #nav-shopping-cart,
  #nav-login,
  #nav-signup,
  #nav-localization {
    display: flex;
  }

  #nav-search-lg {
    display: block;
  }

  #nav-logo {
    flex-grow: 0;
  }

  #nav-logo-image {
    width: 91px;
    height: 34px;
  }
}

@media (min-width: 920px) {
  #nav-teach-on-udemy {
    display: block;
  }
}

@media (min-width: 1080px) {
  #nav-udemy-business {
    display: block;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

#carousel-component div {
  border-radius: 0;
}

#carousel-component button {
  background-color: #2d2f31 !important;
  border-radius: 50%;
}

#carousel-component button span {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: none;
}

#udemy-topic-tab button {
  background-color: transparent;
  color: gray;
}

#udemy-topic-tab button:focus {
  box-shadow: none !important;
  color: black !important;
}

#udemy-topic-tab button:active {
  color: black !important;
}

.secondary-carousel {
  position: relative;
}

.react-multi-carousel-list {
  position: static !important;
  overflow: hidden;
}

.react-multiple-carousel__arrow--right {
  top: 70px;
  right: -15px !important;
}

.react-multiple-carousel__arrow--left {
  top: 70px;
  left: -15px !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
